{% extends "layout.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block content %}
<div class="row justify-content-md-center mt-3">
    <div class="col-md-8">
        <h1>{{ title }}</h1>
    </div>
</div>
<hr>
<div class="row justify-content-md-center align-items-end">
    <div class="col-auto">
        {% if icon %}
        <img src="data:image/png;base64, {{ icon }}">
        {% else %}
        <img src="{{ url_for('static', filename='unknow.png') }}">
        {% endif %}
    </div>
    <div class="col-auto">
        {% if name %}
        {{ name }}
        {% endif %}
    </div>
</div>
<hr>
<div class="row justify-content-md-center">
    <div class="col-md-8">
        {{ wtf.render_form(form, button_size='block', form_type='horizontal', horizontal_columns=('md', 2, 10)) }}
    </div>
</div>
{% endblock %}